@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.main_container{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:1;
    width:100vw;
    height:100vh;
    background: #00B4DB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container_file_image{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height:100vh;
}
.image_container{
    position:relative;
    width:50%;
    height:70vh;
    display:flex;
    justify-content:center;
    flex-direction:column;
}

.content_options{
    margin: 0 auto;
    width:80%;
    height: 100px;
    box-shadow:20px 0px 50px rgba(15, 15, 15, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    border-radius: 10px;
    background-color:rgba(255,255,255,0.8);
}

.content_options_frames{
    margin: 20px auto 0 auto;
    width:40%;
    height: 100px;
    box-shadow:20px 0px 50px rgba(15, 15, 15, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    border-radius: 10px;
    background-color:rgba(255,255,255,0.8);
}

.container_file_image .image_container img {
    filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.2));
    height:70vh;
    margin:0 auto;
    margin-top: 20px;
}

.drop-zone {
        width: 500px;
        height: 400px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 16px;
        color: #cccccc;
        cursor: pointer;
        background-color:rgb(255, 255, 255); ;
        box-shadow: 0 0 80px rgba(75, 75, 75, 0.3);
        transform: scale(100%);
        position:relative;
    }

    .drop-zone.dragover {
        border-color: #0000ff;
        background-color: #f0f8ff;
        transform: scale(110%);
    }

    #preview-img {
        display: none;
        width: auto;
        height: 200px;
        padding-bottom: 10px;
    }

    .drop-zone button{
        height: 40px;
        width: 180px;
        border-radius: 20px;
        border: none;
        background: rgb(37, 152, 38);
        color: white;
        font-weight: 500;
        position:absolute;
        top:40px;
    }

    .drop-zone button:hover{
        font-weight: 700;
        cursor: pointer;
    }

    .container-cargar-video{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .resize_subcontent{
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction:row;
    }


    /*ANIMACION DE ONDA*/

    section .wave{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background: url("assets/wave.png");
        background-size: 1000px 100px;
    }

    section .wave1{
        animation: wave 30s linear infinite;
        z-index: 1000;
        opacity: 1;
        animation-delay: 0s;
        bottom: 0;
    }

    section .wave2{
        animation: wave2 15s linear infinite;
        z-index: 999;
        opacity: 0.5;
        animation-delay: -5s;
        bottom: 10px;
    }

    section .wave3{
        animation: wave2 15s linear infinite;
        z-index: 998;
        opacity: 0.2;
        animation-delay: -2s;
        bottom: 15px;
    }

    @keyframes wave {
        0%{background-position-x:0;}
        100%{background-position-x:1000px;}
    }

    @keyframes wave2 {
        0%{background-position-x:0;}
        100%{background-position-x:1000px;}
    }

    .modal_preview_main{
        background-color:red;
        width:100vw;
        height:100vh;
        position:fixed;
        top:0;
        left:0;
    }
    .modal.show .modal-dialog{
        width:100vw;
        height:90vh;
    }
    .modal {
        position:relative;
        z-index: 1050;
    }
    #dialog-process {
        position:relative;
        z-index: 1065;
    }

    .modal-footer{
        display:flex;
        flex-direction:row;
        justify-content:space-evenly;
        height:80px;
        width:100%;
        flex-wrap:nowrap;
        border:none;
        position:relative;
    }

    .modal-footer .cancelButton:hover,
    .modal-footer .generateButton:hover{
        font-weight:600;
        box-shadow:0px 0px 10px rgba(0,0,0,0.4);
        transition:200ms all ease-in-out;
    }

    .modal-footer .generateButton{
        background-color:#35b003;
        border:none;
        border-radius:5px;
        height:40px;
        width:15%;
        color:#ffffff;
        font-weight:400;
        transition:200ms all ease-in-out;
    }

    .modal-footer #modal_footer_images{
        display:flex;
        flex-direction:row;
        width:75%;
        height:80px;
        overflow-x:scroll;
        position:absolute;
        left:0;
    }

    .content_body{
        display:flex;
        justify-content:center;
        align-items:center;
        position:relative;
    }

    .modal-content-process{
        background:#ffffff;
        min-width: 95vw !important;
        height:95vh;
        margin: 0 auto !important;
        overflow: hidden;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
    }

    .modal-header .close{
        border:none;
        width:30px;
        height:30px;
        border-radius:100%;
        transition:200ms all ease-in-out;
        background-color:transparent;
    }
    .modal-header .close:hover{
        transition:200ms all ease-in-out;
        background-color:#2ed3ff;
        cursor:pointer;
    }

    .modal-body-process{
        display:flex;
        flex-direction:row;
        background-color:#f7f7f7;
        height:80vh;
        position:relative;
    }

    .resize_content{
        width:90%;
        height:80vh;
        display:flex;
        flex-direction:row;
        justify-content:center;
        position:relative;
    }
    .resize_content .content_info_resize{
        width:40%;
        height:20vh;
        display:flex;
        justify-content:flex-end;
        flex-direction:column;
        align-items:center;
    }
    .resize_content h2{
        color:rgba(0,0,0,0.6);
        font-size:1.2rem;
        font-weight:800;
        padding-top:20px;
        width:100%;
        text-align:end;
    }
    .resize_content p{
        font-weight:bolder;
        width:100%;
        color:rgba(0,0,0,0.6);
        text-align:end;

    }
    .resize_content .dimension_h{
        font-weight:bolder;
        width:100%;
        text-align:end;
        color:rgba(0,0,0,0.6);
        margin-top:-15px;
    }
    .generateButton{
        background-color:#35b003;
        border:none;
        border-radius:3px;
        height:40px;
        width:175px;
        color:#ffffff;
        font-weight:500;
        transition:200ms all ease-in-out;
        border:none;
        margin-left:20px;
    }
    #generateButton{background-color:#0C56BC;color:#ffffff;font-weight:500;}
    #saveButton{
        background-color:#0C56BC;
        color:#ffffff;
        font-weight:500;
        border-radius:3px;
        height:40px;
        width:175px;
        border:none;
    }
    /*
    .resize_content .select-option{
        height:40px;
        width:200px;
        border:1px solid rgb(225, 225, 225);
        color:rgba(0,0,0,0.6);
        margin-left:20px;
    }*/

    .content_mini_cards{
        height:30vh;
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        flex-wrap:wrap;
        overflow:auto;
    }
    .content_mini_cards .content_mini_cards_left, .content_mini_cards .content_mini_cards_right{
        width:35%;
    }
    .content_mini_cards .content_mini_cards_center{
        width:20%;
    }


    .content_mini_cards_left .card_element,
    .content_mini_cards_right .card_element,
    .content_mini_cards_center .card_element
    {
        position:relative;
        background-color:rgb(255, 105, 105);
        cursor:pointer;
        width:130px;
        height:30px;
        margin:10px;
        display:flex;
        justify-content:center;
        align-items:center;
        border-radius:4px;
        font-weight:700;
        color:#ffffff;
        transition:400ms all ease-in-out;
    }

    .content_mini_cards_left .card_element:hover,
    .content_mini_cards_right .card_element:hover,
    .content_mini_cards_center .card_element:hover{
        transition:400ms all ease-in-out;
        background-color:rgb(243, 52, 52 );
    }

    .video-preview video {
        height: 200px;
        object-fit: contain;
    }

    .imageModal{
        display:none;
    }

    /*
    #select-option-horizontal, #select-option{
        display:block;
    }
    */
    .message_informative{
        position:absolute;
        font-size:0.7rem;
        bottom:0;
        text-align:center;
    }

    .btn-omitir{
        width:200px;
        height:30px;
        background-color:rgb(250, 87, 87);
        border:none;
        border-radius:5px;
        position:absolute;
        bottom:0;
        left:5%;
        font-size:0.8rem;
        color:#ffffff;
    }
    .btn-omitir:hover{
         background-color:rgb(225, 64, 64);
         font-weight:500;
    }

    .content-options-elements{
        position:relative;
        margin: 20px auto 0 20px;
        width:80%;
        height: 100px;
        box-shadow:20px 0px 50px rgba(15, 15, 15, 0.3);
        border-radius: 10px;
        background-color:rgba(255,255,255,0.8);
        display:none;
    }
    .content-options-elements p{
        text-align:center;
        height:30px;
        line-height:30px;
    }

    #val_width_modal,
    #val_height_modal{
        color:rgba(0,0,0,0.6);
        margin:0 7px;
    }

    .selected-options{
        height:40px;
        width:200px;
        border:1px solid rgb(225, 225, 225);
        color:rgba(0,0,0,0.6);
        display:block;
        margin:0 auto;
        border-radius:6px;
    }

    .content_secondary_options{
        display:flex;
        flex-direction:row;
        width:100%;
    }

    .form-select{
        margin-bottom:10px;
    }


    @media screen and (max-width: 650px) {
        .modal-body-process{
            display:flex;
            flex-direction:column;
            background-color:#f7f7f7;
            height:1500px;
            overflow-y:scroll;
        }
        .resize_content{
            width:100%;
            height:100%;
            padding-top:30px;
            display:flex;
            flex-direction:row;
            justify-content:center;
            align-items:center;
            flex-wrap:wrap;
        }
        .generateButton{
            background-color:#35b003;
            border:none;
            border-radius:3px;
            height:40px;
            width:175px;
            color:#ffffff;
            font-weight:500;
            transition:200ms all ease-in-out;
            border:none;
            margin:15px 0;
        }
        #generateButton{
            background-color:#0C56BC;
            color:#ffffff;
            font-weight:500;
        }
        .modal-header{
            position:relative;
        }
    }

    @media (max-width: 900px){
        .row{
            flex-direction: row;
        }
        .image_container{
            margin-bottom: 25px;
        }
        .container-cargar-video{
            margin-bottom: 25px;
        }
        .row .col{
            width: 100%;
            margin-bottom: 20px;
        }
    }